<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Bmail</title>

    <link rel="stylesheet" href="/assets/css/style.css">
   
</head>
<body>

{% if logiran %}

    <h1>Pozdravljen, {{ user.nickname }}!</h1>

    <p>
        Pošljite sporočilo z najboljšim sistemom
        pošiljanja sporočil - B-mailom!
    </p>

    <form method="post" action="/vnos">

        <p>Pošiljatelj</p>
        <input
            name="Posiljatelj"
            value="{{ user.email }}"
            readonly
        >

        <p>Prejemnik</p>
        <input
            name="Naslovnik"
            type="email"
            required
        >

        <p>Sporočilo:</p>
        <textarea name="Message" required></textarea>

        <button type="submit">Potrdi</button>

    </form>

    <p>
        <a href="/poslano">Poslana sporočila</a>
        |
        <a href="/prejeto">Prejeta sporočila</a>
    </p>

    <p><a href="/logout">Odjava</a></p>

{% else %}

    <h1>Hello, anonimna ninja</h1>

    <p>Prosim, prijavi se:</p>

    <form method="post" action="/login">
        <input
            type="email"
            name="email"
            placeholder="ime@example.com"
            required
        >
        <button type="submit">Login</button>
    </form>

{% endif %}

</body>
</html>
